{% extends "base.html" %} 

{% block content %}

<form action="/countries/{{country.id}}/edit" method="post">
    <div>
      <label for="user">User:</label>
      <input type="text" id="description" name="description" value="{{user.name}}" required autofocus>
    </div>
    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="{{country.name}}" required>
    </div>
    <div>
        <label for="capital">Capital:</label>
        <input type="text" id="capital" name="capital" value="{{country.capital}}" required>
    </div>
    <div>
        <label for="currency">Currency:</label>
        <input type="text" id="country" name="country" value="{{country.currency}}" required]>
    </div>
    <div>
        <label for="review">Review:</label>
        <input type="text" id="review" name="review" value="{{country.rerview}}" required>

    </form>
  


{% endblock %}