{% extends "base.html" %} 

{% block content %}

<form action="/countries/{{country.id}}" method="post">
    
        <div>
            <label for="user_id">User:</label>

                <input type="text" id="user" name="user_id" value="{{ user.id }}" required autofocus>
      
        </div>
    </div>
    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="name" value="{{country.name}}" required>
    </div>
    <div>
        <label for="capital">Capital:</label>
        <input type="text" id="capital" name="capital" value="{{country.capital}}" required>
    </div>
    <div>
        <label for="currency">Currency:</label>
        <input type="text" id="country" name="currency" value="{{country.currency}}" required]>
    </div>
    <div>
        <label for="review">Review:</label>
        <input type="text" id="review" name="review" value="{{country.review}}" required>

        <button class="update_button" type="submit">Update</button>
</form>
  


{% endblock %}