{% extends "base.html" %} 

{% block content %}

<form action="/countries/{{country.id}}" method="post">
    <div>
        <label for="user_id">User:</label>
        <select id="user_id" name="user_id">
          {% for user  in users %}
            <option value="{{ user.id }}"
              {% if country.user.id == user.id %} selected="selected"{% endif %}>
              {{ user.name }}
            </option>
          {% endfor %}
        </select>
      </div>

    
    <div>
        <label class ="country-edit" for="country">Country:</label>
        <input class="country-edit-input" type="text" id="country" name="name" value="{{country.name}}" required>
    </div>
    <div>
        <label for="capital">Capital:</label>
        <input class="capital-edit-input" type="text" id="capital" name="capital" value="{{country.capital}}" required>
    </div>
    <div>
        <label for="currency">Currency:</label>
        <input class="currency-edit-input" type="text" id="country" name="currency" value="{{country.currency}}" required]>
    </div>
    <div>
        <label for="review">Review:</label>
        <input class="review-edit-input" type="text" id="review" name="review" value="{{country.review}}" required>
    </div>
    <label for="visited">Visited:</label>
    <select class="visited-edit"id="visited" name="visited">
      <option value="true"
      {% if country.visited == True %} selected="selected" {% endif %}>
      True
      </option>
  
      <option value="false"
      {% if country.visited == False %} selected="selected" {% endif %}>
      False
      </option>
  </select>

        <button class="update-button-edit" type="submit">Update</button>
</form>
  


{% endblock %}