{% extends "base.html" %} 

{% block content %}

<form action="/countries" method="post">
    <label for="country_name">Name:</label>
    <input type="text" id="country_name" name="country_name">
    <button type="submit">Add Name</button>

    <label for="capital">Capital:</label>
    <input type="text" id="capital" name="capital">
    <button type="submit">Add Capital</button>

    <label for="currency">Currency:</label>
    <input type="text" id="currency" name="currency">
    <button type="submit">Currency</button>

    <label for="review">Review:</label>
    <input type="text" id="review" name="review">
    <button type="submit">Add Review:</button>

    





{% endblock %}