{% extends "base.html" %} {% block content %}

<form action="/countries" method="post">
  <label for="users"class="new-country-user">User:</label>
  <select class="user-select" name="user_id">
    {% for user in all_users %}
    <option value="{{ user.id }}">{{ user.name }}</option>
    {% endfor %}
  </select>

  <label for="name"class="new-country-label">Country:</label>
  <input type="text" class ="new-country-input" id="country_name" name="name" />

  <label for="capital"class="capital-label">Capital:</label>
  <input type="text" class="capital-input"id="capital" name="capital" />

  <label for="currency"class="currency-label">Currency:</label>
  <input type="text" class="currency-input" id="currency" name="currency" />

  <label for="review"class="review-label">Review:</label>
  <input type="text" class ="review-input"id="review" name="review" />

  <label class="visited-label"for="visited">Visited:</label>
  <select id="visited" class="visit-select" name="visited">
    <option value="true">True</option>
    <option value="false">False</option>
  </select>

  <button class="add-destination-button" type="submit">Add Destination</button>
</form>

{% for country in all_countries %}
User:  {{ country.user.name }}
Country: {{ country.name }} 
Capital: {{ country.capital }} 
Currency: {{ country.currency }} 
Review: {{
    country.review }}
Visited: {{ country.visited }}

<form
  class="delete_country"
  action="/countries/{{ country.id }}/delete"
  method="post"
>
   
    <button class="delete_country_button" type="submit">Delete Country:</button>
</form>

<a class="edit-destination-button" href="/countries/{{country.id}}/edit">Edit Destination</a>

{% endfor %} 
</section>
{% endblock %}
