body {
  width:100vw;
    height:100vh;
    background-image: url('images/travel_camper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
};



.new_country {
  color: aqua;
}

.base-menu {
  color: white;
  display: flex;
  flex-flow: row;  
  justify-content: center;
  list-style: none
 

}

.base-menu a {
  color: white;
  text-decoration: underline;
  padding: 20px;
  font-size: x-large;
}

.new-user-label {
  color: white;
  font-size: larger;


}

.add-user-button {
  background-color: lightgrey;
  border-radius: 1rem;
}

.delete-button {
  background-color: lightgrey;
  border-radius: 1rem;
  

}

.user-name-list {
  color: white;
  font-size: larger;

}