body {
  width:100vw;
    height:100vh;
    background-image: url('images/travel_camper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
};



.new_country {
  color: aqua;
}

.base-menu {
  color: white;
  display: flex;
  flex-flow: row;  
  justify-content: center;
  list-style: none
 

}

.base-menu a {
  color: white;
  text-decoration: underline;
  padding: 20px;
  font-size: x-large;
}

.new-user-label {
  color: white;
  font-size: larger;
  align-content: center;


}

.add-user-button {
  background-color: white;
  border-radius: 1rem;
  background: transparent;
  border: 5cap;
  border-color: white;
  color: white;
}

.delete-button {
  background-color: white;
  border-radius: 1rem;
  background: transparent;
  color: white;
  border: 5cap;
  border-color: white;
  

}

.user-name-list {
  text-align: center;
  color: white;
  font-size: larger;
  padding: 0.5%;

}

.user-form {
  text-align: center;
  padding: 0.5%;
}

.user-name-input {
  border-radius: 1rem;
  border-color: white;
}

.new-country-user {
  color: white;
  font-size: medium

}

.user-select {
  border-radius: 1rem;
  border-color: white;
  color: orangered;

}

.new-country-label {
  color: white;
  font-size: medium
}

.new-country-input {
  border-radius: 1rem;
  border-color: white;

}

.capital-label {
  color: white;
  font-size: medium
}

.capital-input {
  border-radius: 1rem;
  border-color: white;
}

.currency-label {
  color: white;
  font-size: medium
}

.currency-input {
  border-radius: 1rem;
  border-color: white;
}

.review-label {
  color: white;
  font-size: medium
}

.review-input {
  border-radius: 1rem;
  border-color: white;
}

.visited-label {
  color: white;
  font-size: medium
}

.visit-select {
  border-radius: 1rem;
  border-color: white;
  color: orangered;

}

.add-destination-button {
  background-color: white;
  border-radius: 1rem;
  background: transparent;
  color: white;
  border: 5cap;
  border-color: white;

}

.edit-destination-button {
  background-color: white;
  border-radius: 1rem;
  background: transparent;
  color: white;
  border: 5cap;
  border-color: white;
  padding: 3%;
  
}

.edit_destination {
  display: flex;
  justify-content: center;
  flex-flow: row;
  color: white;
  text-decoration: underline;

}

.delete_country_button {
  background-color: white;
  border-radius: 1rem;
  background: transparent;
  color: white;
  border: 5cap;
  border-color: white;

}
.delete_country {
  display: flex;
  justify-content: center;
  flex-flow: row;
}
.upcoming-trip {
  color: white;
  font-size: xx-large;
  text-decoration: underline;
  text-align: center;
}

.destination-printout {
  color: white;
  font-size: large;
  padding: 5px;
  text-align: center;
}

.new-country-form {
  display: flex;
  justify-content: space-evenly;

}