body {
  width:100vw;
    height:100vh;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
};

nav > li > a {
  color: white;
  text-align: center;
};

.base-menu {
  color: white;
  
}

.user-page {
  color: blue;

};