<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bucket-List Planner</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul class = "menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Add User</a></li>
                    <li><a href="/countries">Add Destination</a></li>
                    <li><a href="/countries/<id>">Upcoming Holidays</a></li>
                   
                </ul>
            </nav>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}

        
        <script src="" async defer></script>
    </body>
</html>
