<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bucket-List Planner</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Trip Planner</title>
    </head>
    <body>
        <header>
            <nav>
               
                <ul class="base-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/countries">Destinations</a></li>
                </div>
                    
                   
                </ul>
            </nav>
        
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}

        
        <script src="" async defer></script>
    </body>
</html>
